

<div id="footer_1-0" class="comp footer mntl-block" data-tracking-container="true">
    <div id="l-container_1-0" class="comp l-container mntl-block">
    <div id="footer__top_1-0" class="comp footer__top mntl-block">
    <div id="footer__left_1-0" class="comp footer__left mntl-block">
    <a id="footer__logo_1-0" class="comp footer__logo linked-logo mntl-block" rel="home" href="/" aria-label="Investopedia Homepage">
    <svg class="icon inv-logo-inverted ">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#inv-logo-inverted"></use>
    </svg>
    </a>
    <nav id="social-follow--footer_1-0" class="comp social-follow--footer social-follow" role="navigation" data-tracking-container="true">
    <div class="social-follow__icons">
    <a href="https://www.facebook.com/Investopedia/" target="_blank" rel="noopener" class="social-follow__icon social-follow__facebook" aria-label="Investopedia Facebook"> <svg class="icon icon-facebook">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
    </svg>
    </a>
    <a href="https://twitter.com/investopedia" target="_blank" rel="noopener" class="social-follow__icon social-follow__twitter" aria-label="Investopedia Twitter"> <svg class="icon icon-twitter">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
    </svg>
    </a>
    <a href="https://www.instagram.com/investopedia/?hl=en" target="_blank" rel="noopener" class="social-follow__icon social-follow__instagram" aria-label="Investopedia Instagram"> <svg class="icon icon-instagram">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-instagram"></use>
    </svg>
    </a>
    <a href="https://www.linkedin.com/company/investopedia-ulc" target="_blank" rel="noopener" class="social-follow__icon social-follow__linkedin" aria-label="Investopedia LinkedIn"> <svg class="icon icon-linkedin">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-linkedin"></use>
    </svg>
    </a>
    <a href="https://link.investopedia.com/join/53o/signup" class=" social-follow__mail-link absolute-text-link social-follow__icon social-follow__email" id="social-follow__mail-link_1-0" data-tracking-container="true" aria-label="Investopedia Newsletter Signup">
    <span class="link__wrapper"></span>
    <svg class="icon icon-email ">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-email"></use>
    </svg>
    </a>
    </div>
    </nav>
    <a id="truste-badge_1-0" class="comp truste-badge mntl-truste-badge mntl-block" href="//privacy.truste.com/privacy-seal/validation?rid=f8e1238d-6371-460f-8ea0-1b8cad9e9c4b" aria-label="Access TRUSTe's Enterprise Privacy Certification program" target="_blank" data-tracking-container="true" rel="noopener">
    <img id="badge-image_1-0" class="comp badge-image mntl-block lazyloaded" data-src="//privacy-policy.truste.com/privacy-seal/seal?rid=f8e1238d-6371-460f-8ea0-1b8cad9e9c4b" alt="TRUSTe" src="//privacy-policy.truste.com/privacy-seal/seal?rid=f8e1238d-6371-460f-8ea0-1b8cad9e9c4b">
    </a>
    </div>
    <div id="footer-links_1-0" class="comp footer-links mntl-block">
    <ul id="footer-links__list_1-0" class="comp footer-links__list mntl-block">
    <li id="footer-links__item_1-0" class="comp footer-links__item mntl-block">
    <a href="/about-us" class=" footer-links__link absolute-text-link" id="footer-links__link_1-0" data-tracking-container="true">
    <span class="link__wrapper">About Us</span>
    </a>
    </li>
    <li id="footer-links__item_1-0-1" class="comp footer-links__item mntl-block">
    <a href="/legal-4768893#terms-of-use" class=" footer-links__link absolute-text-link" id="footer-links__link_1-0-1" data-tracking-container="true">
    <span class="link__wrapper">Terms of Use</span>
    </a>
    </li>
    <li id="footer-links__item_1-0-2" class="comp footer-links__item mntl-block">
    <a href="/financial-term-dictionary-4769738" class=" footer-links__link absolute-text-link" id="footer-links__link_1-0-2" data-tracking-container="true">
    <span class="link__wrapper">Dictionary</span>
    </a>
    </li>
    <li id="footer-links__item_1-0-3" class="comp footer-links__item mntl-block">
    <a href="/legal-4768893#editorial-policy" class=" footer-links__link absolute-text-link" id="footer-links__link_1-0-3" data-tracking-container="true">
    <span class="link__wrapper">Editorial Policy</span>
    </a>
    </li>
    <li id="footer-links__item_1-0-4" class="comp footer-links__item mntl-block">
    <a href="https://www.dotdash.com/our-brands/" class=" footer-links__link absolute-text-link" id="footer-links__link_1-0-4" data-tracking-container="true" target="_blank" rel="noopener nofollow">
    <span class="link__wrapper">Advertise</span>
    </a>
    </li>
    <li id="footer-links__item_1-0-5" class="comp footer-links__item mntl-block">
    <a href="/news-4427706" class=" footer-links__link absolute-text-link" id="footer-links__link_1-0-5" data-tracking-container="true">
    <span class="link__wrapper">News</span>
    </a>
    </li>
    <li id="footer-links__item_1-0-6" class="comp footer-links__item mntl-block">
    <a href="/legal-4768893#privacy-policy" class=" footer-links__link absolute-text-link" id="footer-links__link_1-0-6" data-tracking-container="true">
    <span class="link__wrapper">Privacy Policy</span>
    </a>
    </li>
    <li id="footer-links__item_1-0-7" class="comp footer-links__item mntl-block">
    <a href="https://invcontent.zendesk.com/hc/en-us/requests/new" class=" footer-links__link absolute-text-link" id="footer-links__link_1-0-7" data-tracking-container="true" target="_blank" rel="noopener nofollow">
    <span class="link__wrapper">Contact Us</span>
    </a>
    </li>
    <li id="footer-links__item_1-0-8" class="comp footer-links__item mntl-block">
    <a href="http://jobs.jobvite.com/dotdash/" class=" footer-links__link absolute-text-link" id="footer-links__link_1-0-8" data-tracking-container="true" target="_blank" rel="noopener nofollow">
    <span class="link__wrapper">Careers</span>
    </a>
    </li>
    <li id="footer-links__item_1-0-9" class="comp footer-links__item__too-long footer-links__item mntl-block">
    <a href="/legal-4768893#california-privacy-notice" class=" footer-links__link absolute-text-link" id="footer-links__link_1-0-9" data-tracking-container="true">
    <span class="link__wrapper">California Privacy Notice</span>
    </a>
    </li>
    </ul>
    </div>
    </div>
    
    </div>
    
    </div> 