
<main class="comp  taxonomy-main main mntl-block">
    <div class="row">
        <div class="col-sm-3 post-content">
            <div id="left-rail_1-0" class="comp left-rail mntl-block">
                <div id="breadcrumbs-nav_1-0" class="comp breadcrumbs-nav" >
                    <a href="https://www.investopedia.com/mutual-funds-4427787" id="breadcrumbs-nav__title_1-0" class=" breadcrumbs-nav__title mntl-text-link is-active " data-tracking-container="true"><span class="link__wrapper">Mutual Funds</span></a>
                        <ul class="breadcrumbs-nav__list">
                            <li class="breadcrumbs-nav__item ">
                                <a [routerLink]="['/mutual-funds/equity-fund']"  href="#" class="breadcrumbs-nav__link"> <span class="breadcrumbs-nav__link-wrapper">Equity Funds</span>
                                </a> 
                            </li>
                            <li class="breadcrumbs-nav__item ">
                                <a routerLink="['/mutual-funds/hybrid-fund']" href="#" class="breadcrumbs-nav__link"> <span class="breadcrumbs-nav__link-wrapper">Hybrid Funds</span>
                                </a> 
                            </li>
                            <li class="breadcrumbs-nav__item ">
                                <a routerLink="['/mutual-funds/debt-fund']" href="#" class="breadcrumbs-nav__link"> <span class="breadcrumbs-nav__link-wrapper">Debt Funds</span>
                                </a> 
                            </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-9 post-content">
            <div id="taxonomy-fold_1-0" class="comp has-left-rail taxonomy-fold mntl-block">
                <div id="taxonomy-header_1-0" class="comp taxonomy-header page-header mntl-block">
                    <h1 id="page-header__heading_1-0" class="comp page-header__heading mntl-text-block">
                    Mutual Funds</h1>
                    <h2 id="page-header__subheading_1-0" class="comp page-header__subheading mntl-text-block">
                    Mutual funds are baskets of stocks or bonds. They come in all different shapes and sizes, from covering broad stock market indexes to focusing on specific sectors.</h2>
                </div>
                
                <section id="spotlight_1-0" class="comp spotlight mntl-block">
                <a id="hero-card_1-0" class="comp hero-card card--hero card mntl-card card" data-doc-id="4,202,351" data-tax-levels="" href="https://www.investopedia.com/terms/a/abnormalreturn.asp" data-cta="">
                <div class="card__media" data-tag="Mutual Funds">
                <img src="https://www.investopedia.com/thmb/eySnxN4PhU9iP2G0ohxvmaTXGAA=/600x320/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/midsection-businessmen-analyzing-charts-on-laptop-in-office-1128046391-4d6016296f824cd48bf762d5824e49e4.jpg" alt="Midsection Businessmen Analyzing Charts On Laptop In Office" class=" card__img " data-dim-ratio="1.5"> </div>
                <div class="card__content" data-tag="Mutual Funds">
                <div class="card__header"></div>
                <span class="card__title"><span>Abnormal Return Definition</span></span>
                <div id="card__summary_1-0" class="comp card__summary mntl-text-block">
                An abnormal return describes the returns generated by a security or portfolio that differ from the expected return over a specified period.</div>
                </div>
                </a>
                <ul id="card-list_1-0" class="comp card-list mntl-block" data-tracking-container="true">
                    <li id="card-list__item_1-0" class="comp card-list__item mntl-block">
                        <a id="card--featured_1-0" class="comp card--featured card mntl-card card" data-doc-id="4,199,149" data-tax-levels="" href="https://www.investopedia.com/terms/c/commingledfund.asp" data-cta="">
                            <div class="card__media" data-tag="Mutual Funds">
                                <img data-src="https://www.investopedia.com/thmb/8jdI0O6aBt0lnL2IaJMGqt9Lhhw=/300x200/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-592232681-9a3868ee76f54a2d87b8e4111dc02e8f.jpg" src="https://www.investopedia.com/thmb/8jdI0O6aBt0lnL2IaJMGqt9Lhhw=/300x200/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-592232681-9a3868ee76f54a2d87b8e4111dc02e8f.jpg" data-placeholder="blurry" alt="Investor Checking Performance of Financial Portfolio Online Whilst Reviewing Investment Statement" class="card__img lazyloaded" data-dim-ratio="1.333"> </div>
                            <div class="card__content" data-tag="Mutual Funds">
                            <div class="card__header"></div>
                                <span class="card__title"><span>Commingled Fund Definition</span></span>
                            </div>
                        </a>
                    </li>
                    <li id="card-list__item_1-0-1" class="comp card-list__item mntl-block">
                        <a id="card--featured_1-0-1" class="comp card--featured card mntl-card card" data-doc-id="4,198,385" data-tax-levels="" href="https://www.investopedia.com/terms/c/cshare.asp" data-cta="">
                            <div class="card__media" data-tag="Mutual Funds">
                                <img data-src="https://www.investopedia.com/thmb/fPDsPNJT7yzt2oFpyzslE_T4mwQ=/300x200/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-1127542466-b5d6ff6e0c194488b7e11b5b58685ff0.jpg" src="https://www.investopedia.com/thmb/fPDsPNJT7yzt2oFpyzslE_T4mwQ=/300x200/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-1127542466-b5d6ff6e0c194488b7e11b5b58685ff0.jpg" data-placeholder="blurry" alt="A businessman analyzing investment charts." class="card__img lazyloaded" data-dim-ratio="1.5"> </div>
                            <div class="card__content" data-tag="Mutual Funds">
                            <div class="card__header"></div>
                                <span class="card__title"><span>Class C Share Definition</span></span>
                            </div>
                        </a>
                    </li>

                    <li id="card-list__item_1-0-2" class="comp card-list__item mntl-block">
                        <a id="card--featured_1-0-2" class="comp card--featured card mntl-card card" data-doc-id="4,191,972" data-tax-levels="" href="https://www.investopedia.com/terms/o/oeic.asp" data-cta="">
                            <div class="card__media" data-tag="Mutual Funds">
                                <img data-src="https://www.investopedia.com/thmb/R1becvy5KASQEntrQSTDfvc_XPU=/300x200/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/london_stock_exchange-113017429-d2af52b2c72b427e8043a62cb5e01778.jpg" src="https://www.investopedia.com/thmb/R1becvy5KASQEntrQSTDfvc_XPU=/300x200/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/london_stock_exchange-113017429-d2af52b2c72b427e8043a62cb5e01778.jpg" data-placeholder="blurry" alt="London Stock Exchange Paternoster square." class="card__img lazyloaded" data-dim-ratio="1.569"> </div>
                            <div class="card__content" data-tag="Mutual Funds">
                            <div class="card__header"></div>
                                <span class="card__title"><span>Open Ended Investment </span></span>
                            </div>
                        </a>
                    </li>
                </ul>
                </section>
                </div>
        </div>
    </div>
    <div class="container mb-15">
        <div class="faq-title text-center pb-6">
            <h2>You May Also Want to Know About</h2>
        </div>
        <div class="row ">
            <div class="col-sm-12 col-md-4 mt-10">
                <div class="card shadow-sm rounded-0 h-100">
                    <div class="card-body">
                        <h5 class="card-title text-capitalize font-weight-bold pt-2">What is Investment and what is it purpose?</h5>
                        <p class="card-text">Different people possess different notions and understanding of “investment”. To start with, first of all, let’s try to get a clear understanding of what is investment and how it can be useful for ...</p>

                    </div>
                    <div class="card-footer bg-white rounded-0 border-0">
                        <a href="#" class="btn btn-link float-right">Read More
                            <i class="fa fa-arrow-right ml-2"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mt-10">
                <div class="card shadow-sm rounded-0">
                    <!-- <img src="assets/images/blog1.jpg" class="card-img"> -->
                    <div class="card-body">
                        <h5 class="card-title text-capitalize font-weight-bold pt-2">Post Office Monthly Income Scheme (POMIS)</h5>
                        <p class="card-text">Are you looking for an investment avenue which is safe and secure, earns substantial returns with a short locking period, which says no to equities and is absolutely risk free? Well then, think about inves...</p>

                    </div>
                    <div class="card-footer bg-white rounded-0 border-0">
                        <a href="#" class="btn btn-link float-right">Read More
                            <i class="fa fa-arrow-right ml-2"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mt-10">
                <div class="card shadow-sm rounded-0">
                    <div class="card-body">
                        <h5 class="card-title text-capitalize font-weight-bold pt-2">Monthly Investment Plan</h5>
                        <p class="card-text">
                            Monthly investments plan is a popular investment options for individuals who wants to gain a profitable investment returns and wants to achieve their short-term and long-term financial goals of life. Nowadays, monthly inves...</p>

                    </div>
                    <div class="card-footer bg-white rounded-0 border-0">
                        <a href="#" class="btn btn-link float-right">Read More
                            <i class="fa fa-arrow-right ml-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>